<!-- Sidebar -->
<div class="span3 bs-docs-sidebar">
	<ul class="nav nav-list bs-docs-sidenav affix" data-offset-top="400">
		<li class>
			<%= link_to "Ver todos los nodos", nodes_path %>
		</li>
		<li class="divider"></li>
		<li class>
			<%= link_to "Crear nodo", new_node_path %>
		</li>
		<li class="divider"></li>
		<li class>
			<%= link_to "Reportes", nodes_and_reports_path %>
		</li>
	</ul>
</div>