<div class="row">
	<!-- sidebar -->
	<div class="span3">
		<%= render 'nodes/sidebar' %>
	</div>

	<!-- actual page body -->
	<div class="span9">

		<div class="hero-unit">
			<h1 class="text-center">
				Nodos
			</h1>
			<br>
			<p class="text-center">
				Toda la información concerniente al <em>hardware</em> de tu entorno de producción en un solo lugar.
			</p>
		</div>

		<div class="page-header">
			<h1>
				¿Nodos? <small>Qué son y qué papel juegan</small>
			</h1>
		</div>

		<div class="row-fluid">
			<div class="span4">
				<p class="lead">
					Un <b>nodo</b> es un computador encargado de prestar algún servicio o jugar algún rol de relevancia dentro del entorno de producción de una aplicación (Servidores webs, servidores de bases de datos, servidores de aplicaciones son ejemplos de nodos)
				</p>	
			</div>

			<div class="span5"> 
				<img src="/assets/server.png">
			</div>
		</div>

		<div class="page-header">
			<h1>Acciones</h1>
		</div>
		
		<div class="row-fluid">
			<div class="span5">
				<%= link_to new_node_path do %>
					<img src="/assets/network.png" height="275" width="275">
				<% end %>
			</div>

			<div class="span4">
				<h2>Añadir nodos</h2>

				<p>
					Los nodos constituyen el corazón de tus aplicaciones y facilitar su configuración es el propósito de <b>BM+CM</b>. Por esta razón, es imperativo que el sistema conozca los datos mínimos de estos (dirección ip y hostname) para facilitar las labores de instalación, mantenimiento, actualización (entre otras) vinculadas al proceso de configuración.
				</p>				
			</div>
		</div>

		<div class="row-fluid">
			<div class="span4">
				<h2>Asociar flujos</h2>

				<p>
					Si bien los flujos pueden existir independientemente en tu catálogo, para que estos surjan efecto en tus sistemas es menester que los asocies a un nodo en particular; solo así podrás descargarlos.
				</p>
			</div>

			<div class="span5">
				<%= link_to nodes_path do %>
					<img src="/assets/handshake.png" height="275" width="275">
				<% end %>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span5">
				<%= link_to nodes_and_reports_path do %>
					<img src="/assets/report.png" height="275" width="275">
				<% end %>
			</div>

			<div class="span4">
				<h2>Ver reportes</h2>

				<p>
					Cada vez que se realiza una transacción de configuración sobre tus nodos, un reporte es enviado automáticamente a nuestro sistema. Acá podrás detallarlos y descargarlos.
				</p>				
			</div>
		</div>
	</div>
</div>