<!-- Sidebar -->
<div class="span3 bs-docs-sidebar">
	<ul class="nav nav-list bs-docs-sidenav affix" data-offset-top="400">
		<li class>
			<%= link_to "Ver todos los flujos", '#' %>
		</li>
		<li class="divider"></li>
		<li class>
			<%= link_to "Crear nuevo flujo", '#' %>
		</li>
	</ul>
</div>