<%= content_for :tomcat do %>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#collapse3" class="accordion-toggle btn btn-danger" data-toggle="collapse" data-parent="#accordion1">
				<h2><strong>Paso III: </strong>Configuración avanzada</h2>
			</a>
		</div>	
		<div id="collapse3" class="accordion-body collapse">
			
		</div>
	</div>
<% end %>