<div class="row">
	<%= render 'flows/sidebar' %>
	<div class="span9">
		<%= form_tag edit_flow_path(@flow), :method => :put, :id => "flow_form_edit", :class => "form" do %>
		
		<% end %>
	</div>
</div>
