<div class="row">
	<div class="span4">
		<h2>¿Qué deseas hacer?</h2>

		<%= button_to "Descargar", :action => "download", :class => "btn btn-large btn-primary" %>
		<br>

		<%= button_to "Descartar", :action => "destroy",  :method => :delete, :class => "btn btn-danger" %>
	</div>
	<div class="span8">
		<div class="page-header">
			<h1>Vista previa del instalador</h1>
		</div>
		<pre>
			<%= @installer_content %>
		</pre>
	</div>
</div>