<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<%= ruby = true %>
<%= javascript_tag do %>
	$(function() {
			var x = <%= "<div>#{ruby = false}</div>".to_json %>;
			$("p").after(x);})
<% end %>
