<!-- Welcome message! -->
<div class="hero-unit">
	<h1 class="text-center">
		Bienvenido al <i><b>Configuration Manager</b></i> de la Banca Móvil.
	</h1>
	<p class="text-center">
		En este sitio podrá configurar, mantener y respaldar los componentes necesarios para que su aplicación móvil funcione a plenitud.
	</p>
</div>

<!-- Looking for more? -->
<div class="alert alert-info span11">
	<button type="button" class="close" data-dismiss="alert">
		&times;
	</button>
	<h4>
		<strong>¿Quieres saber más?</strong>
	</h4>
	Continúa leyendo para descubrir todas las posibilidades que te ofrecemos.
</div>
<br>
<br>
<br>
<br>
<!-- Sub navigation var -->
<div class="subnav subnav-fixed">
	<ul class="nav nav-pills">
		<li class>
			<a href="#flows">Flujos</a>
		</li>
		<li class>
			<a href="#logs">Biácoras</a>
		</li>
		<li class>
			<a href="#previous_states">Estados previos</a>
		</li>
	</ul>
</div>

<!-- Flows -->
<section id="flows">
	<div class="page-header">
		<h1>
			Flujos
		</h1>
	</div>
</section>

<!-- Logs -->
<section id="logs">
	<div class="page-header">
		<h1>
			Bitácoras
		</h1>
	</div>
</section>

<!-- Prevoius states -->
<section id="previous_states">
	<div class="page-header">
		<h1>
			Estados previos
		</h1>
	</div>
</section>

