<div class="hero-unit">
	<h1>
		Bienvenido al <i>Configuration Manager</i> de la Banca M칩vil.
	</h1>
	<p>
		En este sitio podr치 configurar, mantener y respaldar los componentes necesarios para que su aplicaci칩n m칩vil funcione a plenitud.
	</p>
	<!-- Possible button? -->
</div>