<!-- Welcome message! -->
<div class="hero-unit">
	<h1 class="text-center">
		Bienvenido al <i><b>Configuration Manager</b></i> de la Banca Móvil.
	</h1>
	<p class="text-center">
		En este sitio podrás configurar, mantener y respaldar los componentes necesarios para que tu aplicación móvil funcione a plenitud.
	</p>
</div>

<!-- Looking for more? -->
<div class="alert alert-info span11">
	<button type="button" class="close" data-dismiss="alert">
		&times;
	</button>
	<h4>
		<strong>¿Quieres saber más?</strong>
	</h4>
	Continúa leyendo para descubrir todas las posibilidades que te ofrecemos.
</div>
<br>
<br>
<br>
<br>

<!-- Sub navigation var -->
<div class="subnav subnav-fixed">
	<ul class="nav nav-pills">
		<li class>
			<a href="#flows">Flujos</a>
		</li>
		<li class>
			<a href="#logs">Biácoras</a>
		</li>
		<li class>
			<a href="#previous_states">Estados previos</a>
		</li>
	</ul>
</div>

<!-- Flows -->
<section id="flows">
	<div class="page-header">
		<h1>
			Flujos
		</h1>
	</div>
	<p class="lead">
		La elaboración de <i>scripts</i> para la automatización de mantenimiento, instalación, respaldo, recuperación y demás tareas asociadas con la <i><b>gestión de la configuración</b></i> las puedes realizar mediante <strong>Flujos de Configuración. </strong>
	</p>

	<ul class="thumbnails">
		<li class="span6">
			<div class="thumbnail">
				<img src="/assets/digraph.png">
			</div>
			<h3>Representación gráfica de tu script.</h3>
			<p>
				- Escoge las acciones que desees aplicar a un nodo en particular. <br>
				- Proporciona los parámetros solicitados por el sistema. <br>
				- Observa cómo se construye un flujo a partir de la información que suministras.
			</p>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<img src="/assets/safe-db.png">
			</div>
			<h3>Crea, consulta, modifica y almacena configuraciones.</h3>
			<p>
				Las configuraciones vinculadas a tus flujos quedan guardadas y 100% disponibles para
				futuras revisiones, modificaciones y descargas.
			</p>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<img src="/assets/manifest.png">
			</div>
			<h3>Descarga y aplica.</h3>
			<p class="text-right">
				Observa el script de configuración asociado al flujo que has creado. 
			</p>
			<p class="text-success text-right">
				<b>¿Te gusta?</b> Descárgalo y córrelo para cambiar el estado del nodo.
			</p>
			<p class="text-error text-right">
				<b>¿Quieres añadir algo más? ¿Quitar algo?</b> Modifica tu flujo (y, por ende, el script) con los cambios que consideres apropiados.
			</p>
			
		</li>
	</ul>
</section>

<!-- Logs -->
<section id="logs">
	<div class="page-header">
		<h1>
			Bitácoras
		</h1>
	</div>

	<p class="lead">
		Los scripts generados por <strong>BM+CM</strong> guardan la información concerniente a operaciones y errores en  <a href="#logs" data-toggle="tooltip" title="bitácoras"><em>logs</em></a>, disponibles para su posterior revisión. 
	</p>

	<p class="lead">
		<strong>BM+CM</strong> te permite consultar, descargar e, incluso, subir automáticamente todas las bitácoras resultantes de ejecucione de scripts.
	</p>

</section>

<!-- Prevoius states -->
<section id="previous_states">
	<div class="page-header">
		<h1>
			Estados previos
		</h1>
	</div>

	<div class="row">
		<div class="alert alert-error span3">
			<h2>
				<b><em>"¡Algo ha salido mal!"</em></b>
			</h2>

			<p>
				¡No hay problema! <b>BM+CM</b> te permite devolver nodos a estados previos estables.
			</p>
		</div>
		<div class="alert alert-warning span3">
			<h2>
				<b><em>"No ha habido inconvenientes, pero quiero devolver mi sistema a su estado previo."</em></b>
			</h2>

			<p>
				Con <b>BM+CM</b> estás en posibilidad de re-aplicar configuraciones anteriores cuando lo sientas necesario. Solo es cuestión de descargar y ejecutar el script apropiado. 
			</p>
		</div>
		<div class="alert alert-success span4">
			<h2>
				<b><em>¿Y si deseo ver mis configuraciones anteriores?</em></b>
			</h2>

			<p>
				<b>BM+CM</b> se encarga de guardar, automáticamente, el estado de un nodo antes de aplicar un script de configuración. Asímismo, puedes indicarle que almacene la configuración actual. De esta manera, puedes revisar el historial de cambios (<em>states</em>) de un determinado nodo cada vez que lo requieras.
			</p>
		</div>
	</div>
</section>

