<hr> <!-- Horizontal row divider -->
<footer class="footer">
	<div class="container">
		<p class="text-center">
			<small>
				Sitio diseñado y construído con Bootswatch.
			</small>
		</p>
		<p class="text-center">
			<small>
				Íconos cortesía de <a href="http://www.glyphicons.com">Glyphicons Free</a>.
			</small>
		</p>
		<p class="text-center">
			© Synergy-GB, 2013.
		</p>
		<ul class="inline">
			<li>
				<a href="http://www.synergy-gb.com">
					<small>
						Synergy Global Business
					</small>
				</a>
			</li>
			<li class="muted">·</li>
			<li>
				<a href="http://www.usb.ve">
					<small>
						Universidad Simón Bolívar
					</small>
				</a>
			</li>
			<li class="muted">·</li>
			<li>
				<small>
					<a href="http://twitter.github.io/bootstrap">
						Twitter Bootstrap
					</a>
				</small>
			</li>
			<li class="muted">·</li>
			<li>
				<small>
					<a href="http://www.bootswatch.com">
						Bootswatch
					</a>
				</small>
			</li>
		</ul>
	</div>
</footer>